* {
    margin: 0x 0px;
    padding: 0px 0px;
}

#radiocontainer {
    display: grid;
    grid-template-columns: repeat(10, auto);
    column-gap: 2vw;
    row-gap: 15px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#border {
    width: 45vw;
    height: 80vh;
    border: 7px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
    min-height: 510px;
}

h3 {
    font-family: 'Bree Serif', serif;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    margin: 5px;

}

input[type='radio'] {
    width: 100%;
    height: 1.5em;
}

.output {
    display: flex;
}

.input {
    width: 70px;
    height: 25px;
    border: 1px solid grey;
    margin-left: 10px;
}

#restart {
    width: fit-content;
    padding: 5px 12px;
}

#reset {
    width: fit-content;
    padding: 5px 12px;
}